# macOS
.DS_Store

# Logs
*.log

# Environment files
.env
.env.*

# Node / React
react-frontend/node_modules/
react-frontend/dist/

# Java / Maven / Spring Boot
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# IntelliJ / JetBrains
.idea/

# OS / misc
Thumbs.db

# Internal documentation
docs/
